<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <script src="https://kit.fontawesome.com/3b3cf9ca02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="pageheading">
        <i class="fas fa-address-book"></i>
        <h1>Contacts</h1>
    </div>
    
   <div id="contact-list-container">
    <ul>
        <% for(let i of contact_list){%>
           
         <li class="contact">
            <div class="details">
                <p><%=i.name%></p>
                <p> <%= i.phone%></p>
            </div>
            <div class="delete-btn">
                <!-- string params -->
                <!-- <a href="/delete/<%=i.phone%>"> -->
                    <!-- Query Params -->
                    <a href="/delete/?id=<%= i._id%>">
                        <i class="fas fa-window-close"></i>
                </a>
            </div>
         </li>   
            <%}%>
        </ul>
   </div>

   <div>
      <form id="new-contact-form" action="/create-contact" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter Name" required>
        </div>
        <br>
        <div>
             <label for="name">Phone</label>
             <input type="text" name="phone" placeholder="Enter Phone Number" required>
        </div>
 
        <button type="submit"> Create</button>
    </form>
   </div>
    <script src="/contact_List/assets/js/home.js"></script>
</body>
</html>